.game {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.square {
  float: left;
  font-size: 50px;
  width: 80px;
  height: 80px;
  color: #fff;
  font-weight: bold;
  background-color: #4b5e6d;
  margin: 10px;
  border: 1px solid #304658;
  border-radius: 5px;
  box-shadow: 0px 6px 0px #3d4a53, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.moveInfo {
  background-color: #5d7588;
  color: #fff;
  border: 1px solid #304658;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: fit-content;
  margin-bottom: 5px;
}
.list {
  list-style-type: none;
}
.status {
  color: #434e57;
  margin-left: 40px;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 560px) {
  .square {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }

  .moveInfo {
    font-size: 10px;
    font-weight: bold;
    width: 150px;
  }
}

@media only screen and (max-width: 470px) {
  .square {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }

  .moveInfo {
    font-size: 10px;
    width: 100px;
  }
}
